<%include ../layout/header%>
<body>
    <form action="/speakers/add" method="post" enctype="multipart/form-data" style="margin-top:6% " >

        <div class="form-group col-md-6 formStyleHeader">
            <div  class="col-md-2 formStyle">
                <label class="col-md-12"> Name </label>
            </div>
            <div class="col-md-6">
                <input type="text" name="name" class="form-control col-md-8" />
            </div>
        </div>

        <div class="form-group col-md-6 formStyleHeader">
                <div  class="col-md-2 formStyle">
                    <label class="col-md-12"> Job Title </label>
                </div>
                <div class="col-md-6">
                    <input type="text" name="title" class="form-control col-md-8" />
                </div>
            </div>
            <div class="form-group col-md-6 formStyleHeader">
                    <div  class="col-md-2 formStyle">
                        <label class="col-md-12"> Image </label>
                    </div>
                    <div class="col-md-6">
                        <input type="file" name="speakerImage" class="form-control col-md-8" />
                    </div>
                </div>
                
                <div class="form-group">
                     <div class="col-md-offset-4 col-md-8">
                            <input type="submit" class="btn btn-default" value="save" />
                    </div>
                </div>  
    </form>
    
<%include ../layout/footer%>